

<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Slab&family=Bungee+Inline&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/da166663b7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <title>Home Page</title>
</head>

<header>
  <nav class="navbar">
    <div class="nav_button">
      <a class="title" style="text-decoration:none;" href="/">Nile</a>
      <% if (!value) {%>
      <a style="text-decoration:none; color:#ffffff;" class="nav_register" href="/register">Register</a>
      <a class="divider">|</a>
      <a style="text-decoration:none; color:#ffffff;" class="nav_login" href="/login">Login</a>
      <% } %>
      <%if (value) {%>
        <form action="/logout" method="POST">
          <button class="nav_logout">Logout</button>
        </form>
      <%}%>
      <div class="searchbar_container">
      <textarea class="searchbar"> </textarea>
      <button class="search_button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <% if (value) {%>
      <div class="dropdown">
        <button class="dropbtn"><%= value%></button>
        <div class="dropdown-content">
          <%if (!is_admin) {%>
          <a href="/favourites">Wish List</a>
          <%}%>

          <%if (is_admin) {%>
            <a href="/items">Sell</a>
            <a href="/listings">My Listings</a>
            <%}%>
        </div>
      </div>
      <%}%>
    </div>

  </nav>
</header>
