<!-- <filter price - carmen> -->


  <div class = "filter">
    <form class="search-form d-flex mt-2" id="price-filter" action="/filter" method="post">

      <p>Price:</p>
      <div class="min-form">
        <label for="min">
        <input class="min-price"  id="min" type="text" required name="min" placeholder="min" >
        </label>
      </div>
      <div class="max-from">
        <label for="max">
          <input class="max-price" id="max" type="text" required name="max" placeholder="max" >
        </label>
      </div>
      <button style="height: 2rem;" type="submit">search</button>

    </form>
  </div>
