<!DOCTYPE html>
<html lang="en">

<head>
  <title>EDIT</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="container">
    <form action="/items/<%=cookieItemId%>/edit" method="POST">
    <h1>Edit Listing</h1>
    <label for="title"><b>Item Name</b></label>
    <input type="text" placeholder="title" name="title" required>

    <label for="description"><b>description</b></label>
    <input type="text" placeholder="Enter description" name="description" required>

    <label for="thumbnail_photo_url"><b>Thumbnail Photo URL</b></label>
    <input type="text" placeholder="Enter Thumbnail Photo URL" name="thumbnail_photo_url" required>

    <label for="cover_photo_url"><b>Cover Photo URL</b></label>
    <input type="text" placeholder="Enter Cover Photo URL" name="cover_photo_url" required>

    <label for="cost"><b>Price</b></label>
    <input type="text" placeholder="Enter Price" name="cost" required>

    <label for="country"><b>country</b></label>
    <input type="text" placeholder="Enter the country this is being sold in" name="country" required>

    <label for="city"><b>city</b></label>
    <input type="text" placeholder="Enter the city this is being sold in" name="city" required>

    <label for="province"><b>province</b></label>
    <input type="text" placeholder="Enter the province this is being sold in" name="province" required>

    <button type="submit">Submit</button>
  </form>
  </div>
</body>

</html>
