

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/allMessages.css" type="text/css" />
  <link rel="stylesheet" href="/styles/error.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>


   <!-- External JS -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="jquery-3.6.0.min.js"></script>


   <!-- CDN -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



</head>

<body>

  <%- include('partials/_header') %>


<div>
</div>  <div id="login-container">
    <form id = 'loginButton' action="/login" method="POST">
    <h1>Login</h1>
    <p class="nice">
    <div class="email-middle">
    <p><label for="name"><b>Email Addres</b></label></p>
    <input type="email" placeholder="Enter email" name="email" required>
  </div>
  <div class="password-middle">
    <p><label for="password"><b>Password</b></label></p>
    <input type="password" placeholder="Enter Password" name="password" required>
  </div>
  <div class="button-middle">
    <button type="submit" id="login-button">Login</button>
  </div>
  </p>
    <p class = "alert" id = "loginError"></p>

</div></form>

</body>
<script type="text/javascript" src="public/scripts/app.js"></script>

</html>
