<!DOCTYPE html>
<html lang="en">

<head>

  <title>register</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>



<%- include('partials/_header') %>

  <div class="container">
    <form action="/register" method="POST">
    <h1>Register Account</h1>
    <label for="userName"><b>User Name</b></label>
    <input type="name" placeholder="Enter Password" name="userName" required>

    <label for="name"><b>Email Addres</b></label>
    <input type="email" placeholder="Enter email" name="email" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>


      <label for="isAdmin">Account type</label>
      <select name="isAdmin">
        <option>User</option>
        <option>Admin</option>
      </select>


    <button type="submit">Login</button>
  </form>
  </div>
</body>

</html>
