.listings{
  display: flex;
  flex-direction: column;

}

.listings #listTitle {
  font-family:'Dancing Script', cursive;
  color:#d8983d;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
}

.listings p{
  color:#d8983d;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.pageTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:15px;

}

.singleItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px,10px,5px,10px;

}

