body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("https://wallpaperaccess.com/full/343990.jpg");

}

#login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin-top: 200px;
  width: 400px;
  border: 2px solid #5b5959;
    border-radius: 7px;
}

#login-container:hover {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}

.nice {
display: flex;
flex-direction: row;
align-items: center;
}

.email-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-middle {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-middle {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-button{
  background-color: green;
  font-size: larger;
  color: white;
  border-radius: 6px;
  border: none;
}

#login-button:hover {
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}
