body {
  background-color: black;
  background-image: url("https://ctl.s6img.com/society6/img/pOclGjQAV9-0csjhYvQmdp4eaH4/w_1500/leggings/swatch/~artwork,fw_7502,fh_9004,fy_-500,iw_7500,ih_10000/s6-original-art-uploads/society6/uploads/misc/5a0a53fc4af44e1db3d24c1b68548297/~~/absolute-zero-blue-solid-color-leggings.jpg");
}

.indexPageTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-brand{
  color: black;

}
