.filter {
  display: flex;
  position: absolute;
  margin-top: 2em;
  margin-left: 0.5em;


}
.filter p {
  text-align:left;
  color:#d8983d;
  font-weight: 600;
}


.min-form {
  margin-bottom: 8px;



}

#min {
  border-radius: 5px 5px;
  width:100px;
}

.max-from {
  margin-bottom: 10px;

}


#max {
  border-radius: 5px 5px;
  width:100px;
}
